.DS_Store
data_cache
.ipynb_checkpoints
*.fdb_latexmk
*.fls
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bcf
*.run.xml
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.bak
*.synctex.gz
*.pyc
Icon*
.dropbox
.DS_Store
psychophysics/data
neco/cover.pdf
psychophysics/SpeedNeurComp_Exp/DataNeuroComp
